<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NSS Starter Kit - Angular</title>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body ng-app="AngularMusicApp">

<!-- *********
FIREBASE TEST
************** -->


   

	<div>

  		<div ng-view></div>
	</div>
	
  
  <script src="lib/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="lib/bower_components/angular/angular.min.js"></script>
  <script src="lib/bower_components/angular-route/angular-route.min.js"></script>
  <script src="lib/bower_components/firebase/firebase.js"></script>
  <script src="lib/bower_components/angularfire/dist/angularfire.js"></script>
  <script src="main.js"></script>
</body>
</html>



<!-- <!DOCTYPE html>
<html>
<head>
	<title>Angular Music App</title>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body ng-app="AngularMusicApp"> -->
	<!-- ******************************************************************************** NAVIGATION BAR ************************************************************* -->

<!-- <nav class="nav-background">
  <ul>
    <li><a href="#">View music</a></li>
    <li>|</li>
    <li><a href="#">Add music</a></li>
    <li>|</li>
    <li><a href="#">Profile</a></li>
  </ul>
</nav> -->

<!-- ************************************************** MUSIC FORM ****************************************** -->
<!-- form action="form.html" method="post" class="form" ng-controller="SongCtrl"> -->
 
    
    <!-- <label for="song-length">Song length:</label>
    <br/>
    <input type="range" name="song-length" />
    
  <br/>
  <br/>
  <br/>
    
    <label for="artist">Artist:</label>
  <br/>
    <select name="artist" ng-repeat="song in songs">
      <option value="default-option">{{songs.artist}}</option> -->
      <!-- <option value="option-one">Option 1</option>
      <option value="option-two">Option 2</option>
      <option value="option-three">Option 3</option>
      <option value="option-four">Option 4</option>
      <option value="option-five">Option 5</option> -->
    <!-- </select>
  
  <br/>
  <br/> -->
  
      
      
      <!-- <label for="Album:">Album:</label>
  <br/>
    <select name="album" ng-repeat="song in songs">
      <option value="default-option">{{songs.album}}</option>
      <option value="option-one">Option 1</option>
      <option value="option-two">Option 2</option>
      <option value="option-three">Option 3</option>
      <option value="option-four">Option 4</option>
      <option value="option-five">Option 5</option>
    </select>
    <br/>
    <br/>
    
    <label for="genre">Genre:</label>
    <br/>
  <br/>
  <div class="rockPopBlues">
    <input type="checkbox" name="genre" value="rock"/>Rock
    <br/>
    <input type="checkbox" name="genre" value="pop"/>Pop
    <br/>
    <input type="checkbox" name="genre" value="blues"/>Blues
  </div>
  <div class="classicalJazzHiphop">
    <input type="checkbox" name="genre" value="classical"/>Classical
    <br/>
    <input type="checkbox" name="genre" value="jazz"/>Jazz
    <br/>
    <input type="checkbox" name="genre" value="hiphop"/>Hip hop
  </div>
    <br/>
    <br/>
    <button type="submit" value="filter" class="filterButton">Filter</button>
    
</form> -->

<!-- ******************************************************* THE FIVE LIST ******************************************************* -->
  
  <!-- <div class="songNameBackground" ng-controller="SongCtrl">
    <div class="artist-content" ng-repeat="song in songs">
    <h2>{{songs.title}}</h2>
    <ol>
      <li>{{songs.artist}}</li>
      <li>|</li>
      <li>{{songs.album}}</li> -->
      <!-- <li>|</li>
      <li>Genre</li> -->
    <!-- </ol>

    <div ng-view></div> -->
    
    <!-- <h2>Song Name</h2>
    <ol>
      <li>Artist Name</li>
      <li>|</li>
      <li>Album Name</li>
      <li>|</li>
      <li>Genre</li>
    </ol>
    
    <h2>Song Name</h2>
    <ol>
      <li>Artist Name</li>
      <li>|</li>
      <li>Album Name</li>
      <li>|</li>
      <li>Genre</li>
    </ol>
    
    <h2>Song Name</h2>
    <ol>
      <li>Artist Name</li>
      <li>|</li>
      <li>Album Name</li>
      <li>|</li>
      <li>Genre</li>
    </ol>
    
    <h2>Song Name</h2>
    <ol>
      <li>Artist Name</li>
      <li>|</li>
      <li>Album Name</li>
      <li>|</li>
      <li>Genre</li>
    </ol> -->
    <!-- </div>
  </div>

<script type="text/javascript" src="lib/bower_components/angular/angular.min.js"></script>
<script src="lib/bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html> -->